.header{
    background-color: purple;
    display: flex;
    color:white;
    height: 40px;
    align-items: center;
    padding:20px;
}
main{
   padding: 36px; 
}
.memeh{
    height: 100%;
    margin-right: auto;
}
.cour{
    font-size:12px;
    font-weight:500;
    float: right;
}
.form{
    display: grid;
    grid-template:40px 40px/1fr 1fr
}
.form--button{
    cursor: pointer;
    grid-column: 1/-1;
    border: 3px;
    border-style: solid;
    border-radius: 10%;
    color:white;
    font-size: 20px;
    font-weight:500;
    background-color: purple;
}
.form--input{
    border: 1px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: solid;
    text-indent:5px;
}
.form--button:active{
    background-color: blue;
}
.meme--image{
    max-width: 100%;
}
.boxes001a{
    display: inline-block;
    height:100px;
    margin-left: 4px;
    width:100px;
    border-radius: 10px;
}




/* 
.card{
    position: relative;
    width:175px;
    height:375px;
    font-size: 17px;
}
.cato{
    position: absolute;
    background-color: yellow;
    margin: 5%;
    border-radius:0%;
    border-color: red;
    border-style:dashed;
}
.img1{
    width:100%;
    border-radius: 9px;
    height:100%;
}
.container{
    display: flex;
    align-items: center;
}
.contacts{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
} */